*, *::after, *::before {
  box-sizing: border-box;  
}

@font-face {
  font-family: jimbo-condensed-std;
  src: url(/font/jimboStdCondensed.otf);
}

@font-face {
  font-family: DMSans;
  src: url(/font/DMSans.ttf);
}

:root {
	--color-text:rgb(69, 48, 47);
	--color-background:#eee;
}

body {
	margin: 0;
}

h1, h2 {
	color: var(--color-text);
	font-family: jimbo-condensed-std, serif;
	text-align: center;
}

p {
	color: var(--color-text);
	font-family: DMSans, sans-serif;
	text-align: center;
}

article:first-of-type {
	background-image: url(/img/tile-gold.avif);
	padding: .1rem;
}

.divider1 {
	background-image: url(/img/tile-divider-4.png);
	background-repeat: repeat;
	background-size: 10rem 1.2rem;
	height: 1.2rem;
	margin: 2rem 0;
	opacity: 60%;
}

article:first-of-type div:nth-child(2) {
	display: flex;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 5rem 0;
	flex-wrap: wrap;
	justify-content: center;
}

article:first-of-type div:nth-child(2) img {
	height: 14.6rem;
	opacity: 100%;
}

article:first-of-type div:nth-child(2) div{
	display: flex;
	flex-direction: column;
	align-content: center;
}

article:nth-of-type(2) {
	background-color: brown;
	display: flex;
	flex-shrink: 0;
}

article:nth-of-type(2) > div:first-of-type {
	display: flex;
	background-image: url(/img/tile-blue.avif);
}